@media(max-width: 1920px)
{
    
}
@media (max-width: 1600px)
{
html{
    box-sizing: border-box;
    max-width: 1600px;
}
.header{
left: 228px;
}
.head_text{
left: 398px;
}
.button{
left: 720px;
}
.main_img_1{
    left: 815px;
}
.main_text_1{
    left: 245px;

}
.main_img_2{
    left: 245px;
}
.main_text_2{
    left: 855px;
}
.main_img_3{
    left: 470px;
}
.main_under_headtext{
    left: 412px;
}
.main_under_st{
    left: 776px;
}
.main_under_img1{
    left: 239px;
}
.main_under_himg1{
    left: 294px;
}
.main_under_pimg1{
    left: 294px;
}
.main_under_img2{
    left: 683px;
}
.main_under_himg2{
    left: 709px;
}
.main_under_pimg2{
    left: 678px;
}
.main_under_img3{
    left: 1046px;
}
.main_under_himg3{
    left: 1074px;
}
.main_under_pimg3{
    left: 1031px;
}
.footer_link_nav{
    left: 245px;
}
.footer_ico_in{
    left: 1143px;
}
.footer_ico_inst{
    left: 1188px;
}
.footer_ico_tube{
    left: 1233px;
}
.footer_ico_tw{
    left: 1278px;
}
.footer_ico_fb{
    left: 1323px;
}
.footer2_text{
    left: 652px;
}
.main_up_img{
margin: 20px;
width: 90%;
}
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (max-width: 1480px)
{
html{
box-sizing: border-box;
max-width: 1480px;
}
.header{
left: 168px;
}
.head_text{
left: 338px;
}
.button{
left: 660px;
}
.main_img_1{
    left: 755px;
}
.main_text_1{
    left: 185px;

}
.main_img_2{
    left: 185px;
}
.main_text_2{
    left: 795px;
}
.main_img_3{
    left: 410px;
}
.main_under_headtext{
    left: 352px;
}
.main_under_st{
    left: 716px;
}
.main_under_img1{
    left: 179px;
}
.main_under_himg1{
    left: 234px;
}
.main_under_pimg1{
    left: 234px;
}
.main_under_img2{
    left: 623px;
}
.main_under_himg2{
    left: 649px;
}
.main_under_pimg2{
    left: 618px;
}
.main_under_img3{
    left: 986px;
}
.main_under_himg3{
    left: 1014px;
}
.main_under_pimg3{
    left: 971px;
}
.footer_link_nav{
    left: 185px;
}
.footer_ico_in{
    left: 1083px;
}
.footer_ico_inst{
    left: 1128px;
}
.footer_ico_tube{
    left: 1173px;
}
.footer_ico_tw{
    left: 1218px;
}
.footer_ico_fb{
    left: 1263px;
}
.footer2_text{
    left: 592px;
}
.main_up_img{
margin: 20px;
width: 80%;
}
.main_under{
width: 100%;
height: 765px;
}
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 1280px)
{
html{
box-sizing: border-box;
max-width: 1280px;
}
.header{
left: 68px;
}
.head_text{
left: 238px;
}
.button{
left: 560px;
}
.main_img_1{
    left: 655px;
}
.main_text_1{
    left: 85px;

}
.main_img_2{
    left: 85px;
}
.main_text_2{
    left: 695px;
}
.main_img_3{
    left: 310px;
}
.main_under_headtext{
    left: 252px;
}
.main_under_st{
    left: 616px;
}
.main_under_img1{
    left: 79px;
}
.main_under_himg1{
    left: 134px;
}
.main_under_pimg1{
    left: 134px;
}
.main_under_img2{
    left: 523px;
}
.main_under_himg2{
    left: 549px;
}
.main_under_pimg2{
    left: 518px;
}
.main_under_img3{
    left: 886px;
}
.main_under_himg3{
    left: 914px;
}
.main_under_pimg3{
    left: 871px;
}
.footer_link_nav{
    left: 85px;
}
.footer_ico_in{
    left: 983px;
}
.footer_ico_inst{
    left: 1028px;
}
.footer_ico_tube{
    left: 1073px;
}
.footer_ico_tw{
    left: 1118px;
}
.footer_ico_fb{
    left: 1163px;
}
.footer2_text{
    left: 492px;
}
.main_up_img{
margin: 20px;
width: 80%;
}
.main_under{
width: 100%;
height: 765px;
}
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 1024px)
{
html{
    box-sizing: border-box;
    max-width: 1024px;
}
.logo{
position: absolute;
left: 38px;
top: 10px;
}
.header{
position: absolute;
width: 127px;
height: 113px;
left: 388px;
top: 20px;
}
.header_input{
    position: absolute;
    width: 300px;
    height: 27px;
    left: 0px;
    top: 197px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: #324950;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #324950;
}
.search{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 279px;
    top: 195px;
}
.header_link_nav{
    position: absolute;
    width: 599px;
    height: 26px;
    left: -100px;
    top: 131px;
}
.header_link{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    color: #324950;
    margin-left: 17px;

}
.header_link:hover, .header_link:focus, .header_link:active{
    opacity: 75%;
}
.banner{
    width: 100%;
    height: 850px;
    left: 0px;
    top: 0px;
    background: url(../images/bg.png) no-repeat center;
    background-position: top; 
}
.head_text{
position: absolute;
width: 804px;
height: 68px;
left: 110px;
top: 362px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 142.7%;
text-align: center;
color: #735440;
}
.button{
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 31px;
position: absolute;
width: 160px;
height: 55px;
left: 432px;
top: 490px;
background: #57984C;
}
.main_up{
    width: 100%;
    display: flex;
    background: #FFFFFF;
    text-align: center;
    margin-bottom: 100px;

}
.main_up_img{
    margin: 20px;
    width: 100%;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.main_bg{
    width: 100%;
    background: #FFFFFF;
    background-size:cover;
}
.main{
    width: 100%;
    height: 1398px;
    background: url(../images/Union.png) no-repeat center;
    background-position: top;
}
.main_st{
    font-size: 23px;
    width: 47.24px;
    height: 6.24px;
    color: #57984C;
}
.main_img_1{
    position: absolute;
    width: 540px;
    height: 498px;
    left: 242px;
    top: 1011px;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}
.main_text_1{
    position: absolute;
    width: 595px;
    height: 285px;
    left: 276px;
    top: 1518px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 162.7%;
    color: #324950;

}
.main_img_2{
    position: absolute;
    width: 540px;
    height: 500px;
    left: 242px;
    top: 1769px;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}
.main_text_2{
    position: absolute;
    width: 495px;
    height: 252px;
    left: 276px;
    top: 2246px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 162.7%;
    color: #324950;

}
.main_img_3{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 477px;
    top: 1974px;
}
.main_under{
    background: #EDEDED;
    width: 100%;
    height: 1800px;
}
.main_under_headtext{
    position: absolute;
    width: 784px;
    height: 91px;
    left: 120px;
    top: 2529px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 142.7%;
    color: #324950;
}
.main_under_st{
    position: absolute;
    font-size: 23px;
    width: 47.24px;
    height: 6.24px;
    left: 488px;
    top: 2655px;
    color: #57984C;
    font-family: 'Roboto Slab';
}
.main_under_img1{
    position: absolute;
    width: 354px;
    height: 261px;
    left: 335px;
    top: 2709px;
}
.main_under_himg1{
    position: absolute;
    width: 370px;
    height: 34px;
    left: 327px;
    top: 2931px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg1{
    position: absolute;
    width: 293px;
    height: 52px;
    left: 365px;
    top: 3012px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.main_under_img2{
    position: absolute;
    width: 232px;
    height: 232px;
    left: 396px;
    top: 3084px;
}
.main_under_himg2{
    position: absolute;
    width: 263px;
    height: 34px;
    left: 380px;
    top: 3331px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg2{
    position: absolute;
    width: 295px;
    height: 52px;
    left: 365px;
    top: 3416px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 142.7%;
    text-align: center;

    color: #324950;
}
.main_under_img3{
    position: absolute;
    width: 295px;
    height: 213px;
    left: 364px;
    top: 3628px;
}
.main_under_himg3{
    position: absolute;
    width: 306px;
    height: 34px;
    left: 359px;
    top: 3841px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg3{
    position: absolute;
    width: 352px;
    height: 52px;
    left: 336px;
    top: 3936px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.footer1{
    width: 100%;
    height: 76px;
    left: 0px;
    top: 2949px;

    background: #2D3F45;
}
.footer_link_nav{
    position:absolute;
    width: 724px;
    height: 23px;
    left: 05px;
    top: 4340px;
}
.footer_link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.7%;
    color: #FFFFFF;
    margin-left: 17px;
}
.footer_ico_in{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 723px;
    top: 4333px;
}
.footer_ico_inst{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 773px;
    top: 4333px;
}
.footer_ico_tube{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 823px;
    top: 4333px;
}
.footer_ico_tw{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 873px;
    top: 4333px;
}
.footer_ico_fb{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 923px;
    top: 4333px;
}
.footer2{
    background: #324950;
    width: 100%;
    height: 50px;
}
.footer2_text{
    position: absolute;
    width: 410px;
    height: 20px;
    left: 307px;
    top: 4400px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.7%;
    color: #B9B9B9;
}
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 768px)
{
html{
    box-sizing: border-box;
    max-width: 768px;
}
.logo{
position: absolute;
left: 38px;
top: 10px;
}
.header{
position: absolute;
width: 127px;
height: 113px;
left: 260px;
top: 20px;
}
.header_input{
    position: absolute;
    width: 300px;
    height: 27px;
    left: 0px;
    top: 197px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: #324950;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #324950;
}
.search{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 279px;
    top: 195px;
}
.header_link_nav{
    position: absolute;
    width: 599px;
    height: 26px;
    left: -100px;
    top: 131px;
}
.header_link{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    color: #324950;
    margin-left: 17px;

}
.header_link:hover, .header_link:focus, .header_link:active{
    opacity: 75%;
}
.banner{
    width: 100%;
    height: 850px;
    left: 0px;
    top: 0px;
    background: url(../images/bg.png) no-repeat center;
    background-position: top; 
}
.head_text{
position: absolute;
width: 704px;
height: 68px;
left: 0px;
top: 362px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 142.7%;
text-align: center;
color: #735440;
}
.button{
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 31px;
position: absolute;
width: 160px;
height: 55px;
left: 304px;
top: 490px;
background: #57984C;
}
.main_up{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    text-align: center;
    margin-bottom: 100px;

}
.main_up_img{
    margin: 20px;
    width: 94%;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.main_bg{
    width: 100%;
    background: #FFFFFF;
    background-size:cover;
}
.main{
    width: 100%;
    height: 1498px;
    background: url(../images/Union.png) no-repeat center;
    background-position: top;
}
.main_st{
    font-size: 23px;
    width: 47.24px;
    height: 6.24px;
    color: #57984C;
}
.main_img_1{
    position: absolute;
    width: 540px;
    height: 498px;
    left: 120px;
    top: 1811px;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}
.main_text_1{
    position: absolute;
    width: 595px;
    height: 285px;
    left: 148px;
    top: 2318px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 162.7%;
    color: #324950;

}
.main_img_2{
    position: absolute;
    width: 540px;
    height: 500px;
    left: 114px;
    top: 2569px;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}
.main_text_2{
    position: absolute;
    width: 495px;
    height: 252px;
    left: 148px;
    top: 3046px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 162.7%;
    color: #324950;

}
.main_img_3{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 349px;
    top: 2774px;
}
.main_under{
    background: #EDEDED;
    width: 100%;
    height: 1800px;
}
.main_under_headtext{
    position: absolute;
    width: 584px;
    height: 91px;
    left: 108px;
    top: 3329px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 142.7%;
    color: #324950;
}
.main_under_st{
    position: absolute;
    font-size: 23px;
    width: 47.24px;
    height: 6.24px;
    left: 360px;
    top: 3455px;
    color: #57984C;
    font-family: 'Roboto Slab';
}
.main_under_img1{
    position: absolute;
    width: 354px;
    height: 261px;
    left: 207px;
    top: 3509px;
}
.main_under_himg1{
    position: absolute;
    width: 370px;
    height: 34px;
    left: 199px;
    top: 3731px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg1{
    position: absolute;
    width: 293px;
    height: 52px;
    left: 237px;
    top: 3812px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.main_under_img2{
    position: absolute;
    width: 232px;
    height: 232px;
    left: 268px;
    top: 3884px;
}
.main_under_himg2{
    position: absolute;
    width: 263px;
    height: 34px;
    left: 252px;
    top: 4131px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg2{
    position: absolute;
    width: 295px;
    height: 52px;
    left: 237px;
    top: 4216px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 142.7%;
    text-align: center;

    color: #324950;
}
.main_under_img3{
    position: absolute;
    width: 295px;
    height: 213px;
    left: 236px;
    top: 4428px;
}
.main_under_himg3{
    position: absolute;
    width: 306px;
    height: 34px;
    left: 231px;
    top: 4641px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg3{
    position: absolute;
    width: 352px;
    height: 52px;
    left: 208px;
    top: 4736px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.footer1{
    width: 100%;
    height: 76px;
    left: 0px;
    top: 2949px;

    background: #2D3F45;
}
.footer_link_nav{
    position:absolute;
    width: 724px;
    height: 23px;
    left: 05px;
    top: 5140px;
}
.footer_link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142.7%;
    color: #FFFFFF;
    margin-left: 1px;
}
.footer_ico_in{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 495px;
    top: 5133px;
}
.footer_ico_inst{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 545px;
    top: 5133px;
}
.footer_ico_tube{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 595px;
    top: 5133px;
}
.footer_ico_tw{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 645px;
    top: 5133px;
}
.footer_ico_fb{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 695px;
    top: 5133px;
}
.footer2{
    background: #324950;
    width: 100%;
    height: 50px;
}
.footer2_text{
    position: absolute;
    width: 410px;
    height: 20px;
    left: 179px;
    top: 5210px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.7%;
    color: #B9B9B9;
}
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 640px)
{
html{
    box-sizing: border-box;
    max-width: 640px;
}
.logo{
position: absolute;
left: 38px;
top: 10px;
}
.header{
position: absolute;
width: 127px;
height: 113px;
left: 196px;
top: 20px;
}
.header_input{
    position: absolute;
    width: 300px;
    height: 27px;
    left: 0px;
    top: 197px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: #324950;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #324950;
}
.search{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 279px;
    top: 195px;
}
.header_link_nav{
    position: absolute;
    width: 459px;
    height: 26px;
    left: -100px;
    top: 131px;
}
.header_link{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    color: #324950;
    margin-left: 17px;

}
.header_link:hover, .header_link:focus, .header_link:active{
    opacity: 75%;
}
.banner{
    width: 100%;
    height: 850px;
    left: 0px;
    top: 0px;
    background: url(../images/bg.png) no-repeat center;
    background-position: top; 
}
.head_text{
position: absolute;
width: 470px;
height: 68px;
left: 85px;
top: 362px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 142.7%;
text-align:left;
color: #735440;
}
.button{
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 31px;
position: absolute;
width: 160px;
height: 55px;
left: 240px;
top: 490px;
background: #57984C;
}
.main_up{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    text-align: center;
    margin-bottom: 100px;

}
.main_up_img{
    margin: 20px;
    width: 94%;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.main_bg{
    width: 100%;
    background: #FFFFFF;
    background-size:cover;
}
.main{
    width: 100%;
    height: 1498px;
    background: url(../images/Union.png) no-repeat center;
    background-position: top;
}
.main_st{
    font-size: 23px;
    width: 47.24px;
    height: 6.24px;
    color: #57984C;
}
.main_img_1{
    position: absolute;
    width: 540px;
    height: 498px;
    left: 56px;
    top: 1811px;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}
.main_text_1{
    position: absolute;
    width: 555px;
    height: 285px;
    left: 84px;
    top: 2318px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 162.7%;
    color: #324950;

}
.main_img_2{
    position: absolute;
    width: 540px;
    height: 500px;
    left: 50px;
    top: 2569px;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}
.main_text_2{
    position: absolute;
    width: 495px;
    height: 252px;
    left: 84px;
    top: 3046px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 162.7%;
    color: #324950;

}
.main_img_3{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 285px;
    top: 2774px;
}
.main_under{
    background: #EDEDED;
    width: 100%;
    height: 1800px;
}
.main_under_headtext{
    position: absolute;
    width: 442px;
    height: 91px;
    left: 99px;
    top: 3329px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 142.7%;
    color: #324950;
}
.main_under_st{
    position: absolute;
    font-size: 23px;
    width: 47.24px;
    height: 6.24px;
    left: 296px;
    top: 3455px;
    color: #57984C;
    font-family: 'Roboto Slab';
}
.main_under_img1{
    position: absolute;
    width: 354px;
    height: 261px;
    left: 143px;
    top: 3509px;
}
.main_under_himg1{
    position: absolute;
    width: 370px;
    height: 34px;
    left: 135px;
    top: 3731px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg1{
    position: absolute;
    width: 293px;
    height: 52px;
    left: 173px;
    top: 3812px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.main_under_img2{
    position: absolute;
    width: 232px;
    height: 232px;
    left: 204px;
    top: 3884px;
}
.main_under_himg2{
    position: absolute;
    width: 263px;
    height: 34px;
    left: 188px;
    top: 4131px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg2{
    position: absolute;
    width: 295px;
    height: 52px;
    left: 173px;
    top: 4216px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 142.7%;
    text-align: center;

    color: #324950;
}
.main_under_img3{
    position: absolute;
    width: 295px;
    height: 213px;
    left: 172px;
    top: 4428px;
}
.main_under_himg3{
    position: absolute;
    width: 306px;
    height: 34px;
    left: 167px;
    top: 4641px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg3{
    position: absolute;
    width: 352px;
    height: 52px;
    left: 144px;
    top: 4736px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.footer1{
    width: 100%;
    height: 76px;
    left: 0px;
    top: 2949px;

    background: #2D3F45;
}
.footer_link_nav{
    position:absolute;
    width: 270px;
    height: 23px;
    left: 05px;
    top: 5140px;
}
.footer_link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142.7%;
    color: #FFFFFF;
    margin-left: 1px;
}
.footer_ico_in{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 395px;
    top: 5133px;
}
.footer_ico_inst{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 445px;
    top: 5133px;
}
.footer_ico_tube{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 495px;
    top: 5133px;
}
.footer_ico_tw{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 545px;
    top: 5133px;
}
.footer_ico_fb{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 595px;
    top: 5133px;
}
.footer2{
    background: #324950;
    width: 100%;
    height: 50px;
}
.footer2_text{
    position: absolute;
    width: 410px;
    height: 20px;
    left: 115px;
    top: 5210px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.7%;
    color: #B9B9B9;
}
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 480px)
{
html{
    box-sizing: border-box;
    max-width: 480px;
}
.logo{
position: absolute;
left: 38px;
top: 10px;
}
.header{
position: absolute;
width: 127px;
height: 113px;
left: 100px;
top: 20px;
}
.header_input{
    position: absolute;
    width: 300px;
    height: 27px;
    left: 0px;
    top: 197px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: #324950;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #324950;
}
.search{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 279px;
    top: 195px;
}
.header_link_nav{
    position: absolute;
    width: 459px;
    height: 26px;
    left: -100px;
    top: 131px;
}
.header_link{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    color: #324950;
    margin-left: 17px;

}
.header_link:hover, .header_link:focus, .header_link:active{
    opacity: 75%;
}
.banner{
    width: 100%;
    height: 850px;
    left: 0px;
    top: 0px;
    background: url(../images/bg.png) no-repeat center;
    background-position: top; 
}
.head_text{
position: absolute;
width: 470px;
height: 68px;
left: 5px;
top: 362px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 142.7%;
text-align:left;
color: #735440;
}
.button{
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 31px;
position: absolute;
width: 160px;
height: 55px;
left: 160px;
top: 490px;
background: #57984C;
}
.main_up{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    text-align: center;
    margin-bottom: 100px;

}
.main_up_img{
    margin: 20px;
    width: 94%;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.main_bg{
    width: 100%;
    background: #FFFFFF;
    background-size:cover;
}
.main{
    width: 100%;
    height: 1498px;
    background: url(../images/Union.png) no-repeat center;
    background-position: top;
}
.main_st{
    font-size: 23px;
    width: 47.24px;
    height: 6.24px;
    color: #57984C;
}
.main_img_1{
    position: absolute;
    width: 100%;
    height: 498px;
    left: 0px;
    top: 1811px;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}
.main_text_1{
    position: absolute;
    width: 399px;
    height: 285px;
    left: 20px;
    top: 2318px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 162.7%;
    color: #324950;

}
.main_img_2{
    position: absolute;
    width: 100%;
    height: 500px;
    left: 0px;
    top: 2569px;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}
.main_text_2{
    position: absolute;
    width: 399px;
    height: 252px;
    left: 20px;
    top: 3046px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 162.7%;
    color: #324950;

}
.main_img_3{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 205px;
    top: 2774px;
}
.main_under{
    background: #EDEDED;
    width: 100%;
    height: 1800px;
}
.main_under_headtext{
    position: absolute;
    width: 442px;
    height: 91px;
    left: 19px;
    top: 3329px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 142.7%;
    color: #324950;
}
.main_under_st{
    position: absolute;
    font-size: 23px;
    width: 47.24px;
    height: 6.24px;
    left: 216px;
    top: 3455px;
    color: #57984C;
    font-family: 'Roboto Slab';
}
.main_under_img1{
    position: absolute;
    width: 354px;
    height: 261px;
    left: 63px;
    top: 3509px;
}
.main_under_himg1{
    position: absolute;
    width: 370px;
    height: 34px;
    left: 55px;
    top: 3731px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg1{
    position: absolute;
    width: 293px;
    height: 52px;
    left: 93px;
    top: 3812px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.main_under_img2{
    position: absolute;
    width: 232px;
    height: 232px;
    left: 124px;
    top: 3884px;
}
.main_under_himg2{
    position: absolute;
    width: 263px;
    height: 34px;
    left: 108px;
    top: 4131px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg2{
    position: absolute;
    width: 295px;
    height: 52px;
    left: 93px;
    top: 4216px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 142.7%;
    text-align: center;

    color: #324950;
}
.main_under_img3{
    position: absolute;
    width: 295px;
    height: 213px;
    left: 92px;
    top: 4428px;
}
.main_under_himg3{
    position: absolute;
    width: 306px;
    height: 34px;
    left: 87px;
    top: 4641px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg3{
    position: absolute;
    width: 352px;
    height: 52px;
    left: 64px;
    top: 4736px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.footer1{
    width: 100%;
    height: 76px;
    left: 0px;
    top: 2949px;

    background: #2D3F45;
}
.footer_link_nav{
    position:absolute;
    width: 270px;
    height: 23px;
    left: 05px;
    top: 5140px;
}
.footer_link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142.7%;
    color: #FFFFFF;
    margin-left: 1px;
}
.footer_ico_in{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 255px;
    top: 5143px;
}
.footer_ico_inst{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 295px;
    top: 5143px;
}
.footer_ico_tube{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 335px;
    top: 5143px;
}
.footer_ico_tw{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 375px;
    top: 5143px;
}
.footer_ico_fb{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 415px;
    top: 5143px;
}
.footer2{
    background: #324950;
    width: 100%;
    height: 50px;
}
.footer2_text{
    position: absolute;
    width: 410px;
    height: 20px;
    left: 35px;
    top: 5210px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.7%;
    color: #B9B9B9;
}
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 400px)
{
html{
    box-sizing: border-box;
    max-width: 400px;
}
.logo{
position: absolute;
left: 38px;
top: 10px;
}
.header{
position: absolute;
width: 127px;
height: 113px;
left: 50px;
top: 20px;
}
.header_input{
    position: absolute;
    width: 300px;
    height: 27px;
    left: 0px;
    top: 197px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: #324950;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #324950;
}
.search{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 279px;
    top: 195px;
}
.header_link_nav{
    position: absolute;
    width: 259px;
    height: 26px;
    left: 10px;
    top: 131px;
}
.header_link{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    color: #324950;
    margin-left: 17px;

}
.header_link:hover, .header_link:focus, .header_link:active{
    opacity: 75%;
}
.banner{
    width: 100%;
    height: 850px;
    left: 0px;
    top: 0px;
    background: url(../images/bg.png) no-repeat center;
    background-position: top; 
}
.head_text{
position: absolute;
width: 215px;
height: 68px;
left: 92px;
top: 362px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 142.7%;
text-align:left;
color: #735440;
}
.button{
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 31px;
position: absolute;
width: 160px;
height: 55px;
left: 120px;
top: 490px;
background: #57984C;
}
.main_up{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    text-align: center;
    margin-bottom: 100px;

}
.main_up_img{
    margin: 20px;
    width: 94%;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.main_bg{
    width: 100%;
    background: #FFFFFF;
    background-size:cover;
}
.main{
    width: 100%;
    height: 1498px;
    background: url(../images/Union.png) no-repeat center;
    background-position: top;
}
.main_st{
    font-size: 20px;
    width: 47.24px;
    height: 6.24px;
    color: #57984C;
}
.main_img_1{
    position: absolute;
    width: 100%;
    height: 420px;
    left: 0px;
    top: 1811px;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}
.main_text_1{
    position: absolute;
    width: 300px;
    height: 285px;
    left: 20px;
    top: 2318px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 162.7%;
    color: #324950;

}
.main_img_2{
    position: absolute;
    width: 100%;
    height: 420px;
    left: 0px;
    top: 2569px;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}
.main_text_2{
    position: absolute;
    width: 300px;
    height: 252px;
    left: 20px;
    top: 3046px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 162.7%;
    color: #324950;

}
.main_img_3{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 205px;
    top: 2774px;
}
.main_under{
    background: #EDEDED;
    width: 100%;
    height: 1800px;
}
.main_under_headtext{
    position: absolute;
    width: 340px;
    height: 91px;
    left: 30px;
    top: 3329px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 142.7%;
    color: #324950;
}
.main_under_st{
    position: absolute;
    font-size: 23px;
    width: 47.24px;
    height: 6.24px;
    left: 176px;
    top: 3455px;
    color: #57984C;
    font-family: 'Roboto Slab';
}
.main_under_img1{
    position: absolute;
    width: 354px;
    height: 261px;
    left: 23px;
    top: 3509px;
}
.main_under_himg1{
    position: absolute;
    width: 270px;
    height: 34px;
    left: 65px;
    top: 3731px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg1{
    position: absolute;
    width: 293px;
    height: 52px;
    left: 53px;
    top: 3812px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.main_under_img2{
    position: absolute;
    width: 232px;
    height: 232px;
    left: 84px;
    top: 3884px;
}
.main_under_himg2{
    position: absolute;
    width: 193px;
    height: 34px;
    left: 103px;
    top: 4131px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg2{
    position: absolute;
    width: 295px;
    height: 52px;
    left: 53px;
    top: 4216px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 142.7%;
    text-align: center;

    color: #324950;
}
.main_under_img3{
    position: absolute;
    width: 295px;
    height: 213px;
    left: 52px;
    top: 4428px;
}
.main_under_himg3{
    position: absolute;
    width: 226px;
    height: 34px;
    left: 87px;
    top: 4641px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg3{
    position: absolute;
    width: 352px;
    height: 52px;
    left: 24px;
    top: 4736px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.footer1{
    width: 100%;
    height: 76px;
    left: 0px;
    top: 2949px;

    background: #2D3F45;
}
.footer_link_nav{
    position:absolute;
    width: 170px;
    height: 23px;
    left: 05px;
    top: 5130px;
}
.footer_link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142.7%;
    color: #FFFFFF;
    margin-left: 1px;
}
.footer_ico_in{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 185px;
    top: 5143px;
}
.footer_ico_inst{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 225px;
    top: 5143px;
}
.footer_ico_tube{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 265px;
    top: 5143px;
}
.footer_ico_tw{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 305px;
    top: 5143px;
}
.footer_ico_fb{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 345px;
    top: 5143px;
}
.footer2{
    background: #324950;
    width: 100%;
    height: 50px;
}
.footer2_text{
    position: absolute;
    width: 340px;
    height: 20px;
    left: 30px;
    top: 5210px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 142.7%;
    color: #B9B9B9;
}
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 320px)
{
html{
    box-sizing: border-box;
    max-width: 320px;
}
.logo{
position: absolute;
left: 38px;
top: 10px;
}
.header{
position: absolute;
width: 127px;
height: 113px;
left: 10px;
top: 20px;
}
.header_input{
    position: absolute;
    width: 300px;
    height: 27px;
    left: 0px;
    top: 197px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: #324950;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #324950;
}
.search{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 279px;
    top: 195px;
}
.header_link_nav{
    position: absolute;
    width: 259px;
    height: 26px;
    left: 10px;
    top: 131px;
}
.header_link{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    color: #324950;
    margin-left: 17px;

}
.header_link:hover, .header_link:focus, .header_link:active{
    opacity: 75%;
}
.banner{
    width: 100%;
    height: 850px;
    left: 0px;
    top: 0px;
    background: url(../images/bg.png) no-repeat center;
    background-position: top; 
}
.head_text{
position: absolute;
width: 215px;
height: 68px;
left: 52px;
top: 362px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 142.7%;
text-align:left;
color: #735440;
}
.button{
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 31px;
position: absolute;
width: 160px;
height: 55px;
left: 80px;
top: 490px;
background: #57984C;
}
.main_up{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    text-align: center;
    margin-bottom: 100px;

}
.main_up_img{
    margin: 20px;
    width: 94%;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.main_bg{
    width: 100%;
    background: #FFFFFF;
    background-size:cover;
}
.main{
    width: 100%;
    height: 1498px;
    background: url(../images/Union.png) no-repeat center;
    background-position: top;
}
.main_st{
    font-size: 20px;
    width: 47.24px;
    height: 6.24px;
    color: #57984C;
}
.main_img_1{
    position: absolute;
    width: 100%;
    height: 350px;
    left: 0px;
    top: 1899px;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}
.main_text_1{
    position: absolute;
    width: 300px;
    height: 285px;
    left: 20px;
    top: 2318px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 162.7%;
    color: #324950;

}
.main_img_2{
    position: absolute;
    width: 100%;
    height: 350px;
    left: 0px;
    top: 2569px;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}
.main_text_2{
    position: absolute;
    width: 300px;
    height: 252px;
    left: 20px;
    top: 3046px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 162.7%;
    color: #324950;

}
.main_img_3{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 120px;
    top: 2714px;
}
.main_under{
    background: #EDEDED;
    width: 100%;
    height: 1800px;
}
.main_under_headtext{
    position: absolute;
    width: 210px;
    height: 91px;
    left: 55px;
    top: 3329px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 142.7%;
    color: #324950;
}
.main_under_st{
    position: absolute;
    font-size: 23px;
    width: 47.24px;
    height: 6.24px;
    left: 136px;
    top: 3455px;
    color: #57984C;
    font-family: 'Roboto Slab';
}
.main_under_img1{
    position: absolute;
    width: 319px;
    height: 261px;
    left: 3px;
    top: 3509px;
}
.main_under_himg1{
    position: absolute;
    width: 270px;
    height: 34px;
    left: 25px;
    top: 3731px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg1{
    position: absolute;
    width: 293px;
    height: 52px;
    left: 13px;
    top: 3812px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.main_under_img2{
    position: absolute;
    width: 232px;
    height: 232px;
    left: 44px;
    top: 3884px;
}
.main_under_himg2{
    position: absolute;
    width: 193px;
    height: 34px;
    left: 63px;
    top: 4131px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg2{
    position: absolute;
    width: 295px;
    height: 52px;
    left: 13px;
    top: 4216px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 142.7%;
    text-align: center;

    color: #324950;
}
.main_under_img3{
    position: absolute;
    width: 295px;
    height: 213px;
    left: 12px;
    top: 4428px;
}
.main_under_himg3{
    position: absolute;
    width: 226px;
    height: 34px;
    left: 47px;
    top: 4641px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg3{
    position: absolute;
    width: 252px;
    height: 52px;
    left: 34px;
    top: 4736px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.footer1{
    width: 100%;
    height: 76px;
    left: 0px;
    top: 2949px;

    background: #2D3F45;
}
.footer_link_nav{
    position:absolute;
    width: 170px;
    height: 23px;
    left: 05px;
    top: 5130px;
}
.footer_link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 142.7%;
    color: #FFFFFF;
    margin-left: 1px;
}
.footer_ico_in{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 185px;
    top: 5133px;
}
.footer_ico_inst{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 225px;
    top: 5133px;
}
.footer_ico_tube{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 265px;
    top: 5133px;
}
.footer_ico_tw{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 205px;
    top: 5163px;
}
.footer_ico_fb{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 245px;
    top: 5163px;
}
.footer2{
    background: #324950;
    width: 100%;
    height: 50px;
}
.footer2_text{
    position: absolute;
    width: 315px;
    height: 20px;
    left: 2px;
    top: 5210px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142.7%;
    color: #B9B9B9;
}
}
