@media (max-width: 1920px)
{
    
}
@media (max-width: 1600px)
{
html{
    box-sizing: border-box;
    max-width: 1600px;
}
.header{
left: 228px;
}
.to_bg{
    background: #E5E5E5;
    width: 100%;
    height: 1135;
}
.to_link_back{
    left: 284px;
}
.to_arrow{
    left: 245px;
}
.to_head{
    left: 245px;
}
.to_under_head_text{
    left: 348px;
}
.to_under_head_ico{
    left: 245px;
}
.to_character{
    left: 245px;

}
.to_downland{
    left: 1130px;
}
.to_main_img{
    left: 815px;
}
.to_list_plant{
    left: 245px;
}
.to_list_fruit{
    left: 245px;
}
.to_list_cycle{
    left: 815px;
}
.to_list_color{
    left: 815px;
}
.to_footer{
    position: absolute;
    top: -1700;
}
.footer_link_nav{
    left: 245px;
}
.footer_ico_in{
    left: 1143px;
}
.footer_ico_inst{
    left: 1188px;
}
.footer_ico_tube{
    left: 1233px;
}
.footer_ico_tw{
    left: 1278px;
}
.footer_ico_fb{
    left: 1323px;
}
.footer2_text{
    left: 652px;
}
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 1480px)
{
html{
box-sizing: border-box;
max-width: 1480px;
}
.header{
left: 168px;
}
.to_bg{
    background: #E5E5E5;
    width: 100%;
    height: 1135;
}
.to_link_back{
    left: 224px;
}
.to_arrow{
    left: 185px;
}
.to_head{
    left: 185px;
}
.to_under_head_text{
    left: 288px;
}
.to_under_head_ico{
    left: 185px;
}
.to_character{
    left: 185px;

}
.to_downland{
    left: 1070px;
}
.to_main_img{
    left: 755px;
}
.to_list_plant{
    left: 185px;
}
.to_list_fruit{
    left: 185px;
}
.to_list_cycle{
    left: 755px;
}
.to_list_color{
    left: 755px;
}
.footer_link_nav{
    left: 185px;
}
.footer_ico_in{
    left: 1083px;
}
.footer_ico_inst{
    left: 1128px;
}
.footer_ico_tube{
    left: 1173px;
}
.footer_ico_tw{
    left: 1218px;
}
.footer_ico_fb{
    left: 1263px;
}
.footer2_text{
    left: 592px;
}
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 1280px)
{
html{
box-sizing: border-box;
max-width: 1280px;
}
.header{
left: 68px;
}
.to_bg{
    background: #E5E5E5;
    width: 100%;
    height: 1135;
}
.to_link_back{
    left: 124px;
}
.to_arrow{
    left: 85px;
}
.to_head{
    left: 85px;
}
.to_under_head_text{
    left: 188px;
}
.to_under_head_ico{
    left: 85px;
}
.to_character{
    left: 85px;

}
.to_downland{
    left: 970px;
}
.to_main_img{
    left: 655px;
}
.to_list_plant{
    left: 85px;
}
.to_list_fruit{
    left: 85px;
}
.to_list_cycle{
    left: 655px;
}
.to_list_color{
    left: 655px;
}
.footer_link_nav{
    left: 85px;
}
.footer_ico_in{
    left: 983px;
}
.footer_ico_inst{
    left: 1028px;
}
.footer_ico_tube{
    left: 1073px;
}
.footer_ico_tw{
    left: 1118px;
}
.footer_ico_fb{
    left: 1163px;
}
.footer2_text{
    left: 492px;
}
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 1024px)
{
html{
    box-sizing: border-box;
    max-width: 1024px;
}
.logo{
position: absolute;
left: 38px;
top: 10px;
}
.header{
position: absolute;
width: 127px;
height: 113px;
left: 388px;
top: 20px;
}
.header_input{
    position: absolute;
    width: 300px;
    height: 27px;
    left: 0px;
    top: 197px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: #324950;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #324950;
}
.search{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 279px;
    top: 195px;
}
.header_link_nav{
    position: absolute;
    width: 599px;
    height: 26px;
    left: -100px;
    top: 131px;
}
.header_link{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    color: #324950;
    margin-left: 17px;

}
.header_link:hover, .header_link:focus, .header_link:active{
    opacity: 75%;
}
    .ta_head_bg{
    background: #FFFFFF;
    width: 100%;
    height: 278px;
}
.to_bg{
    background: #E5E5E5;
    width: 100%;
    height: 2255;
}
.to_link_back{
    position: absolute;
    width: 185px;
    height: 23px;
    left: 144px;
    top: 340px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 162.7%;
    color: #57984C;
}
.to_arrow{
    position: absolute;
    left: 105px;
    top: 347px;
}
.to_head{
    position: absolute;
    width: 526px;
    height: 277.24px;
    left: 268px;
    top: 382px;
}
.to_head_text{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 142.7%;
    color: #324950;
}
.to_head_text_g{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 142.7%;
    color: #57984C;
}
.to_head_st{
    color: #57984C;
    padding-top: 30;
}
.to_under_head_text{
    position: absolute;
    width: 395px;
    height: 86px;
    left: 414px;
    top: 701px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 142.7%;
    color: #CF2333;
}
.to_under_head_ico{
    position: absolute;
    width: 80px;
    height: 80.04px;
    left: 305px;
    top: 704px;
}
.to_character{
    position: absolute;
    width: 495px;
    height: 149px;
    left: 405px;
    top: 827px;

}
.to_downland{
    position: absolute;
    width: 225px;
    height: 55px;
    left: 399px;
    top: 2410px;
}
.to_main_img{
    position: absolute;
    width: 540px;
    height: 498px;
    left: 242px;
    top: 1882px;
}
.to_character_head{
    width: 183px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 12px;
}
.to_character_text{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 162.7%;
    color: #324950;
}
.to_list_plant{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 405px;
    top: 1006px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_fruit{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 405px;
    top: 1256px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_cycle{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 405px;
    top: 1506px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_color{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 405px;
    top: 1756px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
li {
list-style-type: none;
}
li:before {
    font-family: 'Roboto Slab';
    font-weight: 400;
    content: "•";
    padding-right: 20px;
    color: #57984C;
}
.to_list_text{
    position: inherit;
    width: 500;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 200%;
    padding-top: 30px;
    padding-left: 0px;
    color: #324950;
}
.to_footer{
    position: absolute;
    top: -1775;
}
.to_bg_img{
    height: 1261px;
    background: url(../images/Union2.png) no-repeat center;
    background-position: top;
}
.footer1{
    width: 100%;
    height: 76px;
    left: 0px;
    top: 2949px;

    background: #2D3F45;
}
.footer_link_nav{
    position:absolute;
    width: 724px;
    height: 23px;
    left: 05px;
    top: 4340px;
}
.footer_link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.7%;
    color: #FFFFFF;
    margin-left: 17px;
}
.footer_ico_in{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 723px;
    top: 4333px;
}
.footer_ico_inst{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 773px;
    top: 4333px;
}
.footer_ico_tube{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 823px;
    top: 4333px;
}
.footer_ico_tw{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 873px;
    top: 4333px;
}
.footer_ico_fb{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 923px;
    top: 4333px;
}
.footer2{
    background: #324950;
    width: 100%;
    height: 50px;
}
.footer2_text{
    position: absolute;
    width: 410px;
    height: 20px;
    left: 307px;
    top: 4400px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.7%;
    color: #B9B9B9;
}
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 768px)
{
html{
    box-sizing: border-box;
    max-width: 768px;
}
.logo{
position: absolute;
left: 38px;
top: 10px;
}
.header{
position: absolute;
width: 127px;
height: 113px;
left: 260px;
top: 20px;
}
.header_input{
    position: absolute;
    width: 300px;
    height: 27px;
    left: 0px;
    top: 197px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: #324950;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #324950;
}
.search{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 279px;
    top: 195px;
}
.header_link_nav{
    position: absolute;
    width: 599px;
    height: 26px;
    left: -100px;
    top: 131px;
}
.header_link{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    color: #324950;
    margin-left: 17px;

}
.header_link:hover, .header_link:focus, .header_link:active{
    opacity: 75%;
}
    .ta_head_bg{
    background: #FFFFFF;
    width: 100%;
    height: 278px;
}
.to_bg{
    background: #E5E5E5;
    width: 100%;
    height: 2255;
}
.to_link_back{
    position: absolute;
    width: 185px;
    height: 23px;
    left: 80px;
    top: 340px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 162.7%;
    color: #57984C;
}
.to_arrow{
    position: absolute;
    left: 41px;
    top: 347px;
}
.to_head{
    position: absolute;
    width: 526px;
    height: 277.24px;
    left: 140px;
    top: 382px;
}
.to_head_text{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 142.7%;
    color: #324950;
}
.to_head_text_g{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 142.7%;
    color: #57984C;
}
.to_head_st{
    color: #57984C;
    padding-top: 30;
}
.to_under_head_text{
    position: absolute;
    width: 395px;
    height: 86px;
    left: 286px;
    top: 701px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 142.7%;
    color: #CF2333;
}
.to_under_head_ico{
    position: absolute;
    width: 80px;
    height: 80.04px;
    left: 177px;
    top: 704px;
}
.to_character{
    position: absolute;
    width: 265px;
    height: 149px;
    left: 277px;
    top: 827px;

}
.to_downland{
    position: absolute;
    width: 225px;
    height: 55px;
    left: 271px;
    top: 2410px;
}
.to_main_img{
    position: absolute;
    width: 540px;
    height: 498px;
    left: 114px;
    top: 1882px;
}
.to_character_head{
    width: 183px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 12px;
}
.to_character_text{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 162.7%;
    color: #324950;
}
.to_list_plant{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 277px;
    top: 1006px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_fruit{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 277px;
    top: 1256px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_cycle{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 277px;
    top: 1506px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_color{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 277px;
    top: 1756px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
li {
list-style-type: none;
}
li:before {
    font-family: 'Roboto Slab';
    font-weight: 400;
    content: "•";
    padding-right: 20px;
    color: #57984C;
}
.to_list_text{
    position: inherit;
    width: 400;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 200%;
    padding-top: 30px;
    padding-left: 0px;
    color: #324950;
}
.to_footer{
    position: absolute;
    top: -2585;
}
.to_bg_img{
    height: 1261px;
    background: url(../images/Union2.png) no-repeat center;
    background-position: top;
}
.footer1{
    width: 100%;
    height: 76px;
    left: 0px;
    top: 2949px;

    background: #2D3F45;
}
.footer_link_nav{
    position:absolute;
    width: 724px;
    height: 23px;
    left: 05px;
    top: 5140px;
}
.footer_link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142.7%;
    color: #FFFFFF;
    margin-left: 1px;
}
.footer_ico_in{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 495px;
    top: 5133px;
}
.footer_ico_inst{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 545px;
    top: 5133px;
}
.footer_ico_tube{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 595px;
    top: 5133px;
}
.footer_ico_tw{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 645px;
    top: 5133px;
}
.footer_ico_fb{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 695px;
    top: 5133px;
}
.footer2{
    background: #324950;
    width: 100%;
    height: 50px;
}
.footer2_text{
    position: absolute;
    width: 410px;
    height: 20px;
    left: 179px;
    top: 5210px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.7%;
    color: #B9B9B9;
}
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 640px)
{
html{
    box-sizing: border-box;
    max-width: 640px;
}
.logo{
position: absolute;
left: 38px;
top: 10px;
}
.header{
position: absolute;
width: 127px;
height: 113px;
left: 196px;
top: 20px;
}
.header_input{
    position: absolute;
    width: 300px;
    height: 27px;
    left: 0px;
    top: 197px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: #324950;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #324950;
}
.search{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 279px;
    top: 195px;
}
.header_link_nav{
    position: absolute;
    width: 459px;
    height: 26px;
    left: -100px;
    top: 131px;
}
.header_link{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    color: #324950;
    margin-left: 17px;

}
.header_link:hover, .header_link:focus, .header_link:active{
    opacity: 75%;
}
    .ta_head_bg{
    background: #FFFFFF;
    width: 100%;
    height: 278px;
}
.to_bg{
    background: #E5E5E5;
    width: 100%;
    height: 2255;
}
.to_link_back{
    position: absolute;
    width: 185px;
    height: 23px;
    left: 48px;
    top: 340px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 162.7%;
    color: #57984C;
}
.to_arrow{
    position: absolute;
    left: 9px;
    top: 347px;
}
.to_head{
    position: absolute;
    width: 526px;
    height: 277.24px;
    left: 76px;
    top: 382px;
}
.to_head_text{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 142.7%;
    color: #324950;
}
.to_head_text_g{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 142.7%;
    color: #57984C;
}
.to_head_st{
    color: #57984C;
    padding-top: 30;
}
.to_under_head_text{
    position: absolute;
    width: 395px;
    height: 86px;
    left: 222px;
    top: 701px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 142.7%;
    color: #CF2333;
}
.to_under_head_ico{
    position: absolute;
    width: 80px;
    height: 80.04px;
    left: 113px;
    top: 704px;
}
.to_character{
    position: absolute;
    width: 265px;
    height: 149px;
    left: 120px;
    top: 827px;

}
.to_downland{
    position: absolute;
    width: 225px;
    height: 55px;
    left: 207px;
    top: 2410px;
}
.to_main_img{
    position: absolute;
    width: 540px;
    height: 498px;
    left: 50px;
    top: 1882px;
}
.to_character_head{
    width: 183px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 12px;
}
.to_character_text{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 162.7%;
    color: #324950;
}
.to_list_plant{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 120px;
    top: 1006px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_fruit{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 120px;
    top: 1256px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_cycle{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 120px;
    top: 1506px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_color{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 120px;
    top: 1756px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
li {
list-style-type: none;
}
li:before {
    font-family: 'Roboto Slab';
    font-weight: 400;
    content: "•";
    padding-right: 20px;
    color: #57984C;
}
.to_list_text{
    position: inherit;
    width: 400;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 200%;
    padding-top: 30px;
    padding-left: 0px;
    color: #324950;
}
.to_footer{
    position: absolute;
    top: -2585;
}
.to_bg_img{
    height: 1261px;
    background: url(../images/Union2.png) no-repeat center;
    background-position: top;
}
.footer1{
    width: 100%;
    height: 76px;
    left: 0px;
    top: 2949px;

    background: #2D3F45;
}
.footer_link_nav{
    position:absolute;
    width: 270px;
    height: 23px;
    left: 05px;
    top: 5140px;
}
.footer_link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142.7%;
    color: #FFFFFF;
    margin-left: 1px;
}
.footer_ico_in{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 395px;
    top: 5133px;
}
.footer_ico_inst{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 445px;
    top: 5133px;
}
.footer_ico_tube{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 495px;
    top: 5133px;
}
.footer_ico_tw{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 545px;
    top: 5133px;
}
.footer_ico_fb{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 595px;
    top: 5133px;
}
.footer2{
    background: #324950;
    width: 100%;
    height: 50px;
}
.footer2_text{
    position: absolute;
    width: 410px;
    height: 20px;
    left: 115px;
    top: 5210px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.7%;
    color: #B9B9B9;
}
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 480px)
{
html{
    box-sizing: border-box;
    max-width: 480px;
}
.logo{
position: absolute;
left: 38px;
top: 10px;
}
.header{
position: absolute;
width: 127px;
height: 113px;
left: 100px;
top: 20px;
}
.header_input{
    position: absolute;
    width: 300px;
    height: 27px;
    left: 0px;
    top: 197px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: #324950;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #324950;
}
.search{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 279px;
    top: 195px;
}
.header_link_nav{
    position: absolute;
    width: 459px;
    height: 26px;
    left: -100px;
    top: 131px;
}
.header_link{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    color: #324950;
    margin-left: 17px;

}
.header_link:hover, .header_link:focus, .header_link:active{
    opacity: 75%;
}
    .ta_head_bg{
    background: #FFFFFF;
    width: 100%;
    height: 278px;
}
.to_bg{
    background: #E5E5E5;
    width: 100%;
    height: 2255;
}
.to_link_back{
    position: absolute;
    width: 185px;
    height: 23px;
    left: 48px;
    top: 340px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 162.7%;
    color: #57984C;
}
.to_arrow{
    position: absolute;
    left: 9px;
    top: 347px;
}
.to_head{
    position: absolute;
    width: 326px;
    height: 277.24px;
    left: 77px;
    top: 382px;
}
.to_head_text{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 142.7%;
    color: #324950;
}
.to_head_text_g{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 142.7%;
    color: #57984C;
}
.to_head_st{
    color: #57984C;
    padding-top: 30;
}
.to_under_head_text{
    position: absolute;
    width: 300px;
    height: 86px;
    left: 142px;
    top: 701px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 142.7%;
    color: #CF2333;
}
.to_under_head_ico{
    position: absolute;
    width: 80px;
    height: 80.04px;
    left: 33px;
    top: 704px;
}
.to_character{
    position: absolute;
    width: 265px;
    height: 149px;
    left: 120px;
    top: 827px;

}
.to_downland{
    position: absolute;
    width: 225px;
    height: 55px;
    left: 127px;
    top: 2450px;
}
.to_main_img{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 1982px;
}
.to_character_head{
    width: 183px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 12px;
}
.to_character_text{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 162.7%;
    color: #324950;
}
.to_list_plant{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 120px;
    top: 1006px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_fruit{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 120px;
    top: 1286px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_cycle{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 120px;
    top: 1536px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_color{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 120px;
    top: 1756px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
li {
list-style-type: none;
}
li:before {
    font-family: 'Roboto Slab';
    font-weight: 400;
    content: "•";
    padding-right: 20px;
    color: #57984C;
}
.to_list_text{
    position: inherit;
    width: 320;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 200%;
    padding-top: 30px;
    padding-left: 0px;
    color: #324950;
}
.to_footer{
    position: absolute;
    top: -2585;
}
.to_bg_img{
    height: 1261px;
    background: url(../images/Union2.png) no-repeat center;
    background-position: top;
}
.footer1{
    width: 100%;
    height: 76px;
    left: 0px;
    top: 2949px;

    background: #2D3F45;
}
.footer_link_nav{
    position:absolute;
    width: 270px;
    height: 23px;
    left: 05px;
    top: 5140px;
}
.footer_link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142.7%;
    color: #FFFFFF;
    margin-left: 1px;
}
.footer_ico_in{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 255px;
    top: 5143px;
}
.footer_ico_inst{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 295px;
    top: 5143px;
}
.footer_ico_tube{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 335px;
    top: 5143px;
}
.footer_ico_tw{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 375px;
    top: 5143px;
}
.footer_ico_fb{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 415px;
    top: 5143px;
}
.footer2{
    background: #324950;
    width: 100%;
    height: 50px;
}
.footer2_text{
    position: absolute;
    width: 410px;
    height: 20px;
    left: 35px;
    top: 5210px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.7%;
    color: #B9B9B9;
}
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 400px)
{
html{
    box-sizing: border-box;
    max-width: 400px;
}
.logo{
position: absolute;
left: 38px;
top: 10px;
}
.header{
position: absolute;
width: 127px;
height: 113px;
left: 50px;
top: 20px;
}
.header_input{
    position: absolute;
    width: 300px;
    height: 27px;
    left: 0px;
    top: 197px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: #324950;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #324950;
}
.search{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 279px;
    top: 195px;
}
.header_link_nav{
    position: absolute;
    width: 259px;
    height: 26px;
    left: 10px;
    top: 131px;
}
.header_link{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    color: #324950;
    margin-left: 17px;

}
.header_link:hover, .header_link:focus, .header_link:active{
    opacity: 75%;
}
    .ta_head_bg{
    background: #FFFFFF;
    width: 100%;
    height: 278px;
}
.to_bg{
    background: #E5E5E5;
    width: 100%;
    height: 2255;
}
.to_link_back{
    position: absolute;
    width: 185px;
    height: 23px;
    left: 48px;
    top: 340px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 162.7%;
    color: #57984C;
}
.to_arrow{
    position: absolute;
    left: 9px;
    top: 347px;
}
.to_head{
    position: absolute;
    width: 326px;
    height: 277.24px;
    left: 37px;
    top: 382px;
}
.to_head_text{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 142.7%;
    color: #324950;
}
.to_head_text_g{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 142.7%;
    color: #57984C;
}
.to_head_st{
    color: #57984C;
    padding-top: 30;
}
.to_under_head_text{
    position: absolute;
    width: 250px;
    height: 86px;
    left: 112px;
    top: 701px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 142.7%;
    color: #CF2333;
}
.to_under_head_ico{
    position: absolute;
    width: 80px;
    height: 80.04px;
    left: 13px;
    top: 704px;
}
.to_character{
    position: absolute;
    width: 265px;
    height: 149px;
    left: 80px;
    top: 827px;

}
.to_downland{
    position: absolute;
    width: 225px;
    height: 55px;
    left: 87px;
    top: 2450px;
}
.to_main_img{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 1982px;
}
.to_character_head{
    width: 183px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 12px;
}
.to_character_text{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 162.7%;
    color: #324950;
}
.to_list_plant{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 80px;
    top: 1006px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_fruit{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 80px;
    top: 1286px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_cycle{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 80px;
    top: 1636px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_color{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 80px;
    top: 1856px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
li {
list-style-type: none;
}
li:before {
    font-family: 'Roboto Slab';
    font-weight: 400;
    content: "•";
    padding-right: 20px;
    color: #57984C;
}
.to_list_text{
    position: inherit;
    width: 290;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 200%;
    padding-top: 30px;
    padding-left: 0px;
    color: #324950;
}
.to_footer{
    position: absolute;
    top: -2585;
}
.to_bg_img{
    height: 1261px;
    background: url(../images/Union2.png) no-repeat center;
    background-position: top;
}
.footer1{
    width: 100%;
    height: 76px;
    left: 0px;
    top: 2949px;

    background: #2D3F45;
}
.footer_link_nav{
    position:absolute;
    width: 170px;
    height: 23px;
    left: 05px;
    top: 5130px;
}
.footer_link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142.7%;
    color: #FFFFFF;
    margin-left: 1px;
}
.footer_ico_in{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 185px;
    top: 5143px;
}
.footer_ico_inst{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 225px;
    top: 5143px;
}
.footer_ico_tube{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 265px;
    top: 5143px;
}
.footer_ico_tw{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 305px;
    top: 5143px;
}
.footer_ico_fb{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 345px;
    top: 5143px;
}
.footer2{
    background: #324950;
    width: 100%;
    height: 50px;
}
.footer2_text{
    position: absolute;
    width: 340px;
    height: 20px;
    left: 30px;
    top: 5210px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 142.7%;
    color: #B9B9B9;
}
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 320px)
{
html{
    box-sizing: border-box;
    max-width: 320px;
}
.logo{
position: absolute;
left: 38px;
top: 10px;
}
.header{
position: absolute;
width: 127px;
height: 113px;
left: 10px;
top: 20px;
}
.header_input{
    position: absolute;
    width: 300px;
    height: 27px;
    left: 0px;
    top: 197px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: #324950;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #324950;
}
.search{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 279px;
    top: 195px;
}
.header_link_nav{
    position: absolute;
    width: 259px;
    height: 26px;
    left: 10px;
    top: 131px;
}
.header_link{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    color: #324950;
    margin-left: 17px;

}
.header_link:hover, .header_link:focus, .header_link:active{
    opacity: 75%;
}
    .ta_head_bg{
    background: #FFFFFF;
    width: 100%;
    height: 278px;
}
.to_bg{
    background: #E5E5E5;
    width: 100%;
    height: 2255;
}
.to_link_back{
    position: absolute;
    width: 185px;
    height: 23px;
    left: 48px;
    top: 340px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 162.7%;
    color: #57984C;
}
.to_arrow{
    position: absolute;
    left: 9px;
    top: 347px;
}
.to_head{
    position: absolute;
    width: 256px;
    height: 277.24px;
    left: 32px;
    top: 382px;
}
.to_head_text{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 142.7%;
    color: #324950;
}
.to_head_text_g{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 142.7%;
    color: #57984C;
}
.to_head_st{
    color: #57984C;
    padding-top: 30;
}
.to_under_head_text{
    position: absolute;
    width: 250px;
    height: 86px;
    left: 35px;
    top: 701px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 142.7%;
    color: #CF2333;
}
.to_under_head_ico{
    position: absolute;
    width: 80px;
    height: 80.04px;
    left: 120px;
    top: 604px;
}
.to_character{
    position: absolute;
    width: 265px;
    height: 149px;
    left: 40px;
    top: 827px;

}
.to_downland{
    position: absolute;
    width: 225px;
    height: 55px;
    left: 47px;
    top: 2370px;
}
.to_main_img{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 1982px;
}
.to_character_head{
    width: 183px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 12px;
}
.to_character_text{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 162.7%;
    color: #324950;
}
.to_list_plant{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 40px;
    top: 1006px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_fruit{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 40px;
    top: 1286px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_cycle{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 40px;
    top: 1636px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_color{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 40px;
    top: 1856px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
li {
list-style-type: none;
}
li:before {
    font-family: 'Roboto Slab';
    font-weight: 400;
    content: "•";
    padding-right: 20px;
    color: #57984C;
}
.to_list_text{
    position: inherit;
    width: 260;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 200%;
    padding-top: 30px;
    padding-left: 0px;
    color: #324950;
}
.to_footer{
    position: absolute;
    top: -2585;
}
.to_bg_img{
    height: 1261px;
    background: url(../images/Union2.png) no-repeat center;
    background-position: top;
}
.footer1{
    width: 100%;
    height: 76px;
    left: 0px;
    top: 2949px;

    background: #2D3F45;
}
.footer_link_nav{
    position:absolute;
    width: 170px;
    height: 23px;
    left: 05px;
    top: 5130px;
}
.footer_link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 142.7%;
    color: #FFFFFF;
    margin-left: 1px;
}
.footer_ico_in{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 185px;
    top: 5133px;
}
.footer_ico_inst{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 225px;
    top: 5133px;
}
.footer_ico_tube{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 265px;
    top: 5133px;
}
.footer_ico_tw{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 205px;
    top: 5163px;
}
.footer_ico_fb{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 245px;
    top: 5163px;
}
.footer2{
    background: #324950;
    width: 100%;
    height: 50px;
}
.footer2_text{
    position: absolute;
    width: 315px;
    height: 20px;
    left: 2px;
    top: 5210px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142.7%;
    color: #B9B9B9;
}
}