body{
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #324950; 
    margin: 0;
}
html{
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}
.logo{
width: 226px;
height: 113px;
left: 388px;
top: 20px;
}
.header{
position: absolute;
width: 1127px;
height: 113px;
left: 388px;
top: 20px;
}
.header_div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}
.header_input_div{
    display: flex;
    justify-content: flex-end;
    height: 29px;
    left: 1165px;
    top: 20px;
}
.header_input{
    width: 300px;
    height: 27px;
    top: 91px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: #324950;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #324950;
}
.header_input::placeholder{
    padding-bottom: 5px;
    font-size: 20px;
    color: #324950;
    justify-content: flex-end;
}
.search{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 1108px;
}
.header_link_nav{
    display: flex;
    width: 499px;
    height: 70px;
    left: 1016px;
    justify-content:flex-end;
    align-items: flex-end;
}
.header_link{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: right;
    color: #324950;
    margin-left: 17px;

}
.header_link:hover, .header_link:focus, .header_link:active{
    opacity: 75%;
}
.banner{
    width: 100%;
    height: 850px;
    left: 0px;
    top: 0px;
    background: url(../images/bg.png) no-repeat center;
    background-position: top; 
}
.head_read{
    width: 804px;
    height: 183px;
    margin: 0 auto;
    padding-top: 362px;
}
.head_text{
position: absolute;
width: 804px;
height: 68px;
left: 558px;
top: 362px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 142.7%;
text-align: center;
color: #735440;
}
.button{
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 31px;
position: absolute;
width: 160px;
height: 55px;
left: 880px;
top: 490px;
background: #57984C;
}
.main_up{
    width: 100%;
    display: flex;
    background: #FFFFFF;
    text-align: center;
    margin-bottom: 100px;

}
.main_up_img{
    margin: 20px;
    width: 500px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.main_bg{
    width: 100%;
    background: #FFFFFF;
    background-size:cover;
}
.main{
    height: 1098px;
    background: url(../images/Union.png) no-repeat center;
    background-position: top;
}
.main_st{
    font-size: 14.7px;
    width: 47.24px;
    height: 6.24px;
    color: #57984C;
}
.main_img_1{
    position: absolute;
    width: 540px;
    height: 498px;
    left: 975px;
    top: 1111px;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}
.main_text_1{
    position: absolute;
    width: 495px;
    height: 285px;
    left: 405px;
    top: 1218px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 162.7%;
    color: #324950;

}
.main_img_2{
    position: absolute;
    width: 540px;
    height: 500px;
    left: 405px;
    top: 1709px;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}
.main_text_2{
    position: absolute;
    width: 495px;
    height: 252px;
    left: 1015px;
    top: 1836px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 162.7%;
    color: #324950;

}
.main_img_3{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 630px;
    top: 1914px;
}
.main_under{
    background: #EDEDED;
    width: 100%;
    height: 800px;
}
.main_under_headtext{
    position: absolute;
    width: 784px;
    height: 91px;
    left: 572px;
    top: 2379px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 142.7%;
    color: #324950;
}
.main_under_st{
    position: absolute;
    width: 47.24px;
    height: 6.24px;
    left: 936px;
    top: 2495px;
    color: #57984C;
    font-family: 'Roboto Slab';
}
.main_under_img1{
    position: absolute;
    width: 354px;
    height: 261px;
    left: 399px;
    top: 2509px;
}
.main_under_himg1{
    position: absolute;
    width: 243px;
    height: 34px;
    left: 454px;
    top: 2731px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg1{
    position: absolute;
    width: 243px;
    height: 52px;
    left: 454px;
    top: 2812px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.main_under_img2{
    position: absolute;
    width: 232px;
    height: 232px;
    left: 843px;
    top: 2484px;
}
.main_under_himg2{
    position: absolute;
    width: 183px;
    height: 34px;
    left: 869px;
    top: 2731px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg2{
    position: absolute;
    width: 245px;
    height: 52px;
    left: 838px;
    top: 2806px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.7%;
    text-align: center;

    color: #324950;
}
.main_under_img3{
    position: absolute;
    width: 295px;
    height: 213px;
    left: 1206px;
    top: 2528px;
}
.main_under_himg3{
    position: absolute;
    width: 206px;
    height: 34px;
    left: 1244px;
    top: 2731px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 60px;
}
.main_under_pimg3{
    position: absolute;
    width: 292px;
    height: 52px;
    left: 1201px;
    top: 2806px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.7%;
    text-align: center;
    color: #324950;
}
.footer1{
    width: 100%;
    height: 76px;
    left: 0px;
    top: 2949px;

    background: #2D3F45;
}
.footer_link_nav{
    position:absolute;
    width: 724px;
    height: 23px;
    left: 405px;
    top: 3000px;
}
.footer_link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 142.7%;
    color: #FFFFFF;
    margin-left: 17px;
}
.footer_ico_in{
    position: absolute;
    width: 31.2px;
    height: 31.2px;
    left: 1303px;
    top: 2996px;
}
.footer_ico_inst{
    position: absolute;
    width: 31.2px;
    height: 31.2px;
    left: 1348px;
    top: 2996px;
}
.footer_ico_tube{
    position: absolute;
    width: 31.2px;
    height: 31.2px;
    left: 1393px;
    top: 2996px;
}
.footer_ico_tw{
    position: absolute;
    width: 31.2px;
    height: 31.2px;
    left: 1438px;
    top: 2996px;
}
.footer_ico_fb{
    position: absolute;
    width: 31.2px;
    height: 31.2px;
    left: 1483px;
    top: 2996px;
}
.footer2{
    background: #324950;
    width: 100%;
    height: 50px;
}
.footer2_text{
    position: absolute;
    width: 350px;
    height: 20px;
    left: 812px;
    top: 3065px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142.7%;
    color: #B9B9B9;
}
/*tomato all*/
.ta_head_bg{
    background: #FFFFFF;
    width: 100%;
    height: 138px;
}
.ta_bg{
    background: #E5E5E5;
    width: 100%;
    height: 2832px;
}
.ta_main_img{
    position: absolute;
    width: 100%;
    height: 480px;
    left: 0px;
    top: 138px;
}
.ta_main_h1{
    position: absolute;
    width: 827px;
    height: 109.24px;
    left: 405px;
    top: 653px;
}
.ta_main_st{
    color:#57984C;
    padding-top: 36px;

}
.ta_main_text1{
    position: absolute;
    width: 1097px;
    height: 290px;
    left: 405px;
    top: 803px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #324950;
}
.ta_main_text2{
    position: absolute;
    width: 1036px;
    height: 54px;
    left: 409.5px;
    top: 1116.5px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #324950;
    border-left: 4px solid #EB5757;
    padding-left: 26px;
    border-radius: 4px;
}
.ta_h3_column1{
    position: absolute;
    width: 350px;
    height: 58px;
    left: 405px;
    top: 1253.5px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #324950;
    border-bottom: 1px solid #324950;
}
.ta_h3_column2{
    position: absolute;
    width: 325px;
    height: 58px;
    left: 785px;
    top: 1253.5px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #324950;
    border-bottom: 1px solid #324950;
}
.ta_h3_column3{
    position: absolute;
    width: 296.21px;
    height: 58px;
    left: 1165px;
    top: 1253.5px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #324950;
    border-bottom: 1px solid #324950;
}
.ta_text_column1{
    position: absolute;
    width: 350px;
    height: 212px;
    left: 405px;
    top: 1341px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #324950;
}
.ta_text_column2{
    position: absolute;
    width: 350px;
    height: 212px;
    left: 785px;
    top: 1341px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #324950;
}
.ta_text_column3{
    position: absolute;
    width: 350px;
    height: 262px;
    left: 1165px;
    top: 1341px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #324950;
}
.ta_main_text3{
    position: absolute;
    width: 647px;
    height: 26px;
    left: 409px;
    top: 1700px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 150%;
    color: #324950;
    border-left: 4px solid #EB5757;
    padding-left: 26px;
    border-radius: 4px;
}
.ta_photo1{
    position: absolute;
    width: 350px;
    height: 321px;
    left: 405px;
    top: 1773px;
}
.ta_photo2{
    position: absolute;
    width: 350px;
    height: 321px;
    left: 785px;
    top: 1773px;
}
.ta_photo3{
    position: absolute;
    width: 350px;
    height: 321px;
    left: 1165px;
    top: 1773px;
}
.ta_photo4{
    position: absolute;
    width: 350px;
    height: 321px;
    left: 405px;
    top: 2124px;
}
.ta_photo5{
    position: absolute;
    width: 350px;
    height: 321px;
    left: 785px;
    top: 2124px;
}
.ta_photo6{
    position: absolute;
    width: 350px;
    height: 321px;
    left: 1165px;
    top: 2124px;
}
.ta_photo7{
    position: absolute;
    width: 350px;
    height: 321px;
    left: 405px;
    top: 2475px;
}
.ta_photo8{
    position: absolute;
    width: 350px;
    height: 321px;
    left: 785px;
    top: 2475px;
}
.ta_txt_photo{
    position:inherit;
    top: 287px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 142.7%;
    text-align: center;
    color: #57984C;
}
/*Tomato one*/
.to_bg{
    background: #E5E5E5;
    width: 100%;
    height: 1135;
}
.to_link_back{
    position: absolute;
    width: 185px;
    height: 23px;
    left: 444px;
    top: 140px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 162.7%;
    color: #57984C;
}
.to_arrow{
    position: absolute;
    left: 405px;
    top: 147px;
}
.to_head{
    position: absolute;
    width: 526px;
    height: 277.24px;
    left: 405px;
    top: 182px;
}
.to_head_text{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 142.7%;
    color: #324950;
}
.to_head_text_g{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 142.7%;
    color: #57984C;
}
.to_head_st{
    color: #57984C;
    padding-top: 30;
}
.to_under_head_text{
    position: absolute;
    width: 395px;
    height: 86px;
    left: 508px;
    top: 501px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 142.7%;
    color: #CF2333;
}
.to_under_head_ico{
    position: absolute;
    width: 80px;
    height: 80.04px;
    left: 405px;
    top: 504px;
}
.to_character{
    position: absolute;
    width: 495px;
    height: 149px;
    left: 405px;
    top: 627px;

}
.to_downland{
    position: absolute;
    width: 225px;
    height: 55px;
    left: 1290px;
    top: 710px;
}
.to_main_img{
    position: absolute;
    width: 540px;
    height: 498px;
    left: 975px;
    top: 182px;
}
.to_character_head{
    width: 183px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 12px;
}
.to_character_text{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 162.7%;
    color: #324950;
}
.to_list_plant{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 405px;
    top: 806px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_fruit{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 405px;
    top: 1003px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_cycle{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 975px;
    top: 806px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
.to_list_color{
    position: absolute;
    width: 183px;
    height: 29px;
    left: 975px;
    top: 1003px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 41px;
}
li {
list-style-type: none;
}
li:before {
    font-family: 'Roboto Slab';
    font-weight: 400;
    content: "•";
    padding-right: 20px;
    color: #57984C;
}
.to_list_text{
    position: inherit;
    width: 500;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 200%;
    padding-top: 30px;
    padding-left: 0px;
    color: #324950;
}
.to_footer{
    position: absolute;
    top: -1700;
}
.to_bg_img{
    height: 1261px;
    background: url(../images/Union2.png) no-repeat center;
    background-position: top;
}
/*Contact us*/
.cu_bg{
    background: #FFFFFF;
    width: 100%;
    height: 1735px;
}
.cu_main_img{
    position: absolute;
    width: 100%;
    height: 480px;
    left: 0px;
    top: 140px;
}
.cu_main_head{
    position: absolute;
    width: 221px;
    height: 63px;
    left: 405px;
    top: 653px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 142.7%;
    color: #324950;
}
.cu_st{
    position: absolute;
    width: 47.24px;
    height: 6.24px;
    left: 405px;
    top: 756px;
    color: #57984C;
}
.cu_input_div1{
    position: absolute;
    width: 50%;
    height: 763px;
    left: 405px;
    top: 812.5px;
}
.cu_input_div2{
    position: absolute;
    width: 50%;
    height: 763px;
    left: 880px;
    top: 812.5px;
}
.cu_button{
    position: absolute;
    width: 255px;
    height: 55px;
    left: 1260px;
    top: 1576px;
    background: #57984C;
    border-radius: 60px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 200%;
    color: #FFFFFF;
}
.cu_code_img{
    position: absolute;
    width: 99px;
    height: 27px;
    left: 880px;
    top: 1589px;
}
.cu_txt_style{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #324950;
    padding-top: 20px;
}
.cu_input_style{
    box-sizing: border-box;
    width: 350px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 10px;
}
.cu_input_style2{
    box-sizing: border-box;
    width: 635px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 10px;
}
.cu_input_inter{
    box-sizing: border-box;
    width: 635px;
    height: 407px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 10px;
}
.cu_input_code{
    position: absolute;
    left: 100px;
    box-sizing: border-box;
    width: 225px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 10px;
}
.cu_address_head{
    position: absolute;
    width: 180px;
    padding-left: 35;
    height: 29px;
    left: 866px;
    top: 1670px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 142.7%;
    color: #57984C;
    border-bottom: 1px solid #57984C;
    padding-bottom: 40px;
}
.cu_address{
    position: absolute;
    width: 288px;
    height: 104px;
    left: 815.5px;
    top: 1728px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    text-align: center;
    color: #324950;
}
.cu_footer{
    position: absolute;
    top: -1100;
}