/* Загальні стилі */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header h1 {
  color: gold;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7), 0 0 15px rgba(0, 0, 0, 0.4);
  -webkit-text-stroke: 1px black;
}

header nav ul li a {
  color: #82d4e2;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7), 0 0 15px rgba(0, 0, 0, 0.4);
  -webkit-text-stroke: 0.5px black;
  font-size: 20px;
}

h1, h2 {
  text-align: center;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s; /* Плавний перехід кольору */
}

footer a {
	text-decoration: none;
	color: #333;
	transition: color 0.3s; /* Плавний перехід кольору */
}

footer a:hover {
	color: gold;
}

nav ul li a:hover {
  color: gold; /* Зміна кольору під час наведення */
}

main {
  margin: 20px;
}

footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

/* Стилі для кожного розділу */
section {
  margin-bottom: 40px;
}

section h2 {
  margin-bottom: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
}

/* Розділ для фотографії */
.content img {
  width: 300px;
  height: auto;
}

/* Стилі для класу .text-content */
.text-content {
  flex-grow: 1;
  margin-right: 20px;
  max-width: calc(100% - 320px);
}

.text-content p {
  margin-bottom: 10px; /* Додатковий відступ вниз */
}

/* Стилі для класу .image-content */
.image-content {
  flex-basis: 300px;
}

.image-content img {
  width: 100%;
  height: auto;
}
/* Додайте додаткові стилі за необхідністю */
